p {
  font-family: Montserrat;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.title {
  font-weight: bold;
  font-size: 40px;
}

.text {
  margin-top: 10px;
  font-size: 20px;
}

.highlight {
  text-decoration: underline;
}